<app-base>
  <ng-container body> 
    <div class="container">
      <div class="row">
          <button type="button" class="btn btn-link btn-sm bg-success text-white" (click)="navigateBack()"><- Back</button> 
      </div> 
        <br>
        <br>
        <div name="body">
          <table class="table table-bordered">
            <tr>
              <td>ID#</td>
              <td>{{task.id}} </td>
            </tr>
            <tr>
              <td>Name</td>
              <td><input type="text" class="form-control" [(ngModel)]="task.name"> </td>
            </tr>
            <tr>
              <td>Created At</td>
              <td>{{task.created_at | date:'yyyy-MM-dd HH:mm:ss'}} </td>
            </tr>
            <tr>
              <td>Due on</td>
              <td><input type="text" class="form-control" [(ngModel)]="task.due_on"> </td>
            </tr>
            <tr>
              <td>Status</td>
              <td><input type="text" class="form-control" [(ngModel)]="task.status"> </td>
            </tr>
          </table>
          <div class="pull-right">
              <button type="button" class="btn btn-warning btn-sm" (click)="updateTask()">UPDATE</button>
              <button type="button" class="btn btn-danger btn-sm" (click)="deleteTask()">DELETE</button>
          </div>
        </div>
    </div>
  </ng-container>
</app-base>